@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --headingsFont: 'AR One Sans', Arial, Helvetica, sans-serif;
    --paragraphFont: 'Noto Serif', 'Times New Roman', serif;
    --paragraphColor: rgba(165, 102, 8, 0.986);
    --backgroundColor: rgb(24, 24, 95);
    --linerColor: rgba(39, 107, 7, 0.986);
    --webkit-transition: height 2s;
}

body {
    position: relative;
}


/*-----------------Header styling----------------*/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
    padding-bottom: 1.5rem;
    box-shadow: 0 0 15px 0;
}

#dd {
    height: 80px;
    background-color: white;
}


header .header {
    font-family: var(--headingsFont);
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 3px;
    margin: 15px 0 0 -10px;
    width: 20%;
    color: white;
    text-align: center;
    background-color: var(--backgroundColor);
    border-radius: 15px;
}


.highindex {
    position: relative;
    display: grid;
    z-index: 55;
    grid-template-columns: 1fr;
}

nav a {
    display: none;
}
.highindex.show .a {
    font-family: var(--headingsFont);
    font-size: 1.5rem;
    display: block;
    color: white;
    width: 70%;
    padding:  20px 50px 20px;
    text-decoration: none;
}

#logo {
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 10px;
    color: var(--backgroundColor);
}

#green {
    color: rgb(67, 184, 13);
}


/*-----------------Menu button Styling----------------*/

#menu::before {
    content: "≡";
    background-color: var(--backgroundColor);
    color: white;
    padding: 0 10px 0;
    margin-right: 0;
    font-size: 3rem;
    position: absolute;
    right: 0.2rem;
    top: 0.7rem;
}

#menu.show::before {
    content: "✖";
    
}

nav{
    display: none;
}
nav.show {
    display: block;
    height: fit-content;
    padding: 3rem 0;
    background-color: var(--backgroundColor);
    top: 100px;
    position: fixed;
    width: 100%;
}


/*-----------------Home page Hero Image Styling----------------*/

.heroImage {
    height: 20rem;
    background-color: var(--backgroundColor);
}


/*-----------------Home page section one styling----------------*/
.triangle {
    display: none;
}


.sectionOne {
    margin: 3rem 0;
}



.sectionOne h1 {
    color: var(--backgroundColor);
    font-family: var(--headingsFont);
    padding-left: 1rem;
    font-size: 2.5rem;
}

.sectionOne .liner {
    background-color: var(--linerColor);
    height: 0.4rem;
    width: 30%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    padding: 0;
}

.sectionOne h1 span {
    color: var(--linerColor);
}

.sectionOne p {
    font-family: var(--paragraphFont);
    font-size: 1.7rem;
    padding: 2rem 0 0.2rem 1.9rem;
    color: var(--backgroundColor);
}

.sectionOne P span {
    color: var(--linerColor);
    font-weight: 600;
}

/*-----------------Home Page Section Two Styling----------------*/

.sectionTwo {
    width: 90%;
    margin: 3rem auto;
    padding: 1rem 0;
    height: 65rem;
    background-color: var(--backgroundColor);
    border-radius: 20px;
    
}

.sectionTwo div {
    width: 95%;
    margin: 0 auto;
    height: 65rem;
    background-color: white;
    border-radius: 20px;
    width: 90%;
}

.sectionTwo div h2{
    font-family: var(--headingsFont);
    color: var(--backgroundColor);
    padding: 10px 10px 4rem;
    text-align: center;
}

#offering {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
}



.offerings  span{
    display: block;
    font-family: var(--headingsFont);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--paragraphColor);
    width: 80%;
    margin: auto;
    text-align: center;
}

.offerings .one {
    color: var(--linerColor);
}

.offerings .img {
    width: 100px;
    display: block;
    margin: 0px auto 8px;
}

/*-----------------Home Page Section Three Styling----------------*/

.sectionThree {
    font-family: var(--headingsFont);
    color: var(--backgroundColor);
}

.sectionThree h2 {
    font-size: 1.9rem;
    margin-left: 1rem;
}

.sectionThree .liner {
    background-color: var(--paragraphColor);
    height: 0.4rem;
    width: 30%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    padding: 0;
}

.sectionThree p {
    font-family: var(--paragraphFont);
    padding: 15px 1.2rem 10px;
    font-size: 1.5rem;
}

.sectionThree p span {
    color: var(--paragraphColor);
    font-weight: 600;
}

.sectionThree .link {
    margin-top: 2rem;
}

.sectionThree p a {
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/*-----------------Home Page Section Four styling----------------*/

.sectionFour {
    background-color: var(--backgroundColor);
    color: white;
    padding: 2rem 0;
    margin-top: 4rem;
}

.sectionFour h2 {
    font-family: var(--headingsFont);
    font-size: 1.9rem;
    text-align: center; 
    padding: 0.5rem;
}

.sectionFour p {
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

.sectionFour .link {
    font-weight: 700;
    background-color: white;
    width: 15rem;
    margin: 1rem auto 0;
    border-radius: 15px;
}

.sectionFour .link a {
    color: var(--backgroundColor);
    width: fit-content;
}


/*-----------------Home Page Common Section1 styling----------------*/

.commonSection1 {
    padding: 6rem 0;
}
.commonSection1  h2{
    font-family: var(--headingsFont);
    font-size: 1.9rem;
    color: var(--linerColor);
    padding: 10px 20px 4px;
}

.commonSection1 .liner {
    width: 30%;
    background-color: var(--backgroundColor);
    height: 0.4rem;
    padding: 0;
    margin-left: 22px;
    margin-bottom: 1rem;
}

.commonSection1 p {
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
    padding: 15px 20px;
}

.commonSection1  p span {
    color: var(--linerColor);
    font-weight: 700;
}


/*-----------------Home Page common section2 styling----------------*/

.commonSection2 {
    border: 0.7rem solid var(--backgroundColor);
    font-family: var(--headingsFont);
    padding: 2rem 0;
}

.commonSection2 p{
    font-size: 1.5rem;
    padding: 15px 20px;
}

.commonSection2 p span{
    color: var(--paragraphColor);
    font-weight: 700;
}

.commonSection2 .button {
    font-size: 1rem;
    background-color: var(--backgroundColor);
    color: white;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.commonSection2  .button a{
    font-size: 1.5rem;
    color: white;
    z-index: 0;
    text-decoration: none;
}


#whatsApp {
    padding: 0 10px;
}


/*----------------- footer styling----------------*/

footer {
    width: 100%;
    background-color: var(--backgroundColor);
    margin-top: 15rem;
}

footer nav  {
    display: block;
    padding: 2rem 0;
    z-index: 1;
}

footer nav a {
    font-family: var(--headingsFont);
    font-size: 1.5rem;
    display: block;
    color: white;
    width: 70%;
    padding:  20px 50px 20px;
    text-decoration: none;
}


footer p {
    font-size: 1.3rem;
    text-align: center;
    color: rgba(245, 245, 245, 0.479)
}


/*----------------Prices Page styling----------------*/

.prices h1 {
    font-family: var(--headingsFont);
    font-size: 2.8rem;
    text-align: center;
    color: var(--backgroundColor);
    margin-top: 30px;
}



/*-----------------Price Section one styling----------------*/

.prices .pricesection1 {
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
    padding: 1.5rem;
}

.prices .pricesection1 p{
    padding: 1rem 0;
    color: var(--backgroundColor);
}

.prices .pricesection1 span{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--paragraphColor);
}

/*-----------------Price Section two styling----------------*/

.prices .pricesection2 h2{
    font-family: var(--headingsFont);
    font-size: 2rem;
    width: fit-content;
    color: white;
    background-color: var(--backgroundColor);
    padding: 1rem;
    margin: 2rem auto 0;
    text-align: center;
}

/*-----------------Price Section two form styling----------------*/


.pricesection2 {
    width: 100%;
}


.pricesection2 #form {
    width: 80%;
    max-width: 280px;
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: var(--paragraphColor)
}

.pricesection2 form fieldset {
    font-family: var(--headingsFont);
    font-size: 1.7rem;
    font-weight: 600;
    padding: 10px;
    margin: 30px 0;
    border: none;
    color: white;
}

.pricesection2 form fieldset label {
    font-family: var(--paragraphFont);
    font-size: 1.3rem;
    display: block;
    color: rgb(22, 6, 110);
}

.pricesection2 form input[type=button] {
    font-family: var(--headingsFont);
    font-size: 2rem;
    margin: 1rem 0 1rem 2rem;
    padding: 0.5rem;
}

.pricesection2 form p {
    font-size: 1.5rem;
}

.pricesection3 table { 
    margin: 0 auto 7rem;
    font-family: var(--headingsFont);
    width: 80%;
}


.pricesection3 table tr th {
    padding: 3rem 0 10px;
    font-size: 1.5rem;
}

.pricesection3 table td {
    font-size: 1.3rem;
    text-align: center;
    width: 40%;
    padding: 10px 5px;
    
}

.pricesection4 {
    margin: 3rem 0 4rem;
}

.pricesection4 h2 {
    font-family: var(--headingsFont);
    font-size: 1.7rem;
    color: var(--backgroundColor);
    padding-left: 20px;
}

.pricesection4 p {
    font-family: var(--paragraphFont);
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px;
    color: var(--backgroundColor);

}

.pricesection4 p span {
    font-family: var(--headingsFont);
    color: var(--paragraphColor);
    font-size: 1.5rem;
    font-weight: 700;
}


/*-----------------four-way Section one form styling----------------*/

#fourway-section1 {
    color: var(--backgroundColor);
    padding: 2rem 0;
    margin-top: 4rem;
}

#fourway-section1 h2 {
    font-family: var(--headingsFont);
    font-size: 2.3rem;
    text-align: center; 
    padding: 0.5rem 0.5rem 1rem;
}

#fourway-section1 h2 span {
    color: var(--linerColor);
}


#fourway-section1 p {
    font-family: var(--paragraphFont);
    font-size: 1.8rem;
    padding: 10px;
    text-align: center;
}

#fourway-section1 > h2:hover {
    background-color: var(--backgroundColor);
    color: white;
    border-radius: 3rem;
    margin: 0 10%;
}



/*-----------------four-way Section two styling----------------*/


#fourway-section2 {
    background-color: rgba(123, 123, 163, 0.541);
    padding: 2rem 0;
}

#buttons {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

#button1, #button2, #button3, #button4 {
    width: 150px;
    margin: 10px;
    padding: 12px 0;
    border-radius: 15px;
    font-family: var(--headingsFont);
    font-size: 1.5rem;
}

#fourway-section2 > h2 {
    font-family: var(--headingsFont);
    font-size: 2.3rem;
    padding: 30px 30px 5px;
    color: var(--backgroundColor);
}

#fourway-section2 > .liner {
    background-color: var(--linerColor);
    padding: 3px 0;
    width: 17%;
    margin-left: 30px;
    margin-top: 0;
}

#fourway-section2 > p {
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
    width: 80%;
    margin: 2rem auto;
}

#fourway-section2 > img {
    width: 50%;
    height: auto;
    margin: 0 25%;
}

#fourway-section3 {
    font-family: var(--paragraphFont);
    background-color: var(--backgroundColor);
    color: white;
    padding: 4rem 30px 6rem;
}

#fourway-section3 > p {
    font-size: 1.7rem;
    margin-top: 2rem;
}












