@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --headingsFont: 'AR One Sans', Arial, Helvetica, sans-serif;
    --paragraphFont: 'Noto Serif', 'Times New Roman', serif;
    --paragraphColor: rgba(238, 155, 30, 0.932);
    --backgroundColor: rgb(24, 24, 95);
    --linerColor: rgba(58, 146, 17, 0.986);
}


header {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.466);
}

.header {
    font-family: var(--headingsFont);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px 1px;
    margin: 15px 0 0 -50px;
    width: 30%;
    color: white;
    text-align: center;
    background-color: var(--backgroundColor);
    border-radius: 15px;
}

#logo {
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 10px;
    color: var(--backgroundColor);
}

#green {
    color: rgb(67, 184, 13);
}

#menu::before {
    content: "≡";
    background-color: var(--backgroundColor);
    color: white;
    padding: 0 10px 0;
    margin-right: 0;
    font-size: 3rem;
    position: absolute;
    right: 0.2rem;
    top: 0.7rem;
}

.heroImage {
    height: 20rem;
    background-color: var(--backgroundColor);
}

.sectionOne {
    margin: 3rem 0;
}



.sectionOne h1 {
    color: var(--backgroundColor);
    font-family: var(--headingsFont);
    padding-left: 1rem;
    font-size: 2.5rem;
}

.sectionOne .liner {
    background-color: var(--linerColor);
    height: 0.4rem;
    width: 30%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    padding: 0;
}

.sectionOne h1 span {
    color: var(--linerColor);
}

.sectionOne p {
    font-family: var(--paragraphFont);
    font-size: 1.7rem;
    padding: 2rem 0 0.2rem 1.9rem;
    color: var(--backgroundColor);
}

.sectionOne P span {
    color: var(--linerColor);
    font-weight: 600;
}

.sectionTwo {
    margin: 3rem 1rem;
    height: 70rem;
    background-color: var(--backgroundColor);
    border-radius: 20px;
    
}

.sectionTwo div {
    margin:  auto ;
    height: 65rem;
    background-color: white;
    border-radius: 20px;
    position: relative;
    width: 90%;
    top: 2.5rem;
}

.sectionTwo div h2{
    font-family: var(--headingsFont);
    color: var(--backgroundColor);
    padding: 10px;
    text-align: center;
    height: 2.5rem;

}


.offerings {
    padding-top: 15px;
    margin: 0;
    height: 14rem;
}

.offerings  span{
    display: block;
    font-family: var(--headingsFont);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--paragraphColor);
    width: 80%;
    margin: auto;
    text-align: center;
}

.offerings .one {
    color: var(--linerColor);
}

.offerings img {
    width: 100px;
    display: block;
    margin: 0 auto 8px;
}

.sectionThree {
    font-family: var(--headingsFont);
    color: var(--backgroundColor);
}

.sectionThree h2 {
    font-size: 1.9rem;
    margin-left: 1rem;
}

.sectionThree .liner {
    background-color: var(--paragraphColor);
    height: 0.4rem;
    width: 30%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    padding: 0;
}

.sectionThree p {
    font-family: var(--paragraphFont);
    padding: 15px 1.2rem 10px;
    font-size: 1.5rem;
}