@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

:root {
    --headingsFont: 'AR One Sans', Arial, Helvetica, sans-serif;
    --paragraphFont: 'Noto Serif', 'Times New Roman', serif;
    --paragraphColor: rgba(238, 155, 30, 0.932);
    --backgroundColor: rgb(24, 24, 95);
    --linerColor: rgba(58, 146, 17, 0.986);
    --webkit-transition: height 2s;
}

body {
    position: relative;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 2;
    padding-bottom: 1.5rem;
}

#dd {
    height: 80px;
    background-color: white;
}


header .header {
    font-family: var(--headingsFont);
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 3px;
    margin: 15px 0 0 -10px;
    width: 20%;
    color: white;
    text-align: center;
    background-color: var(--backgroundColor);
    border-radius: 15px;
}


.highindex {
    position: relative;
    display: grid;
    z-index: 55;
    grid-template-columns: 1fr;
}

nav a {
    display: none;
}
.highindex.show .a {
    font-family: var(--headingsFont);
    font-size: 1.5rem;
    display: block;
    color: white;
    width: 70%;
    padding:  20px 50px 20px;

}

#logo {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 800;
    padding-left: 30px;
    padding-top: 10px;
    color: var(--backgroundColor);
}

#green {
    color: rgb(67, 184, 13);
}

#menu::before {
    content: "≡";
    background-color: var(--backgroundColor);
    color: white;
    padding: 0 10px 0;
    margin-right: 0;
    font-size: 3rem;
    position: absolute;
    right: 0.2rem;
    top: 0.7rem;
}

#menu.show::before {
    content: "✖";
    
}

nav{
    display: none;
}
nav.show {
    display: block;
    height: fit-content;
    padding: 3rem 0;
    background-color: var(--backgroundColor);
    top: 100px;
    position: fixed;
    width: 100%;
}

.heroImage {
    height: 20rem;
    background-color: var(--backgroundColor);
}


.sectionOne {
    margin: 3rem 0;
}



.sectionOne h1 {
    color: var(--backgroundColor);
    font-family: var(--headingsFont);
    padding-left: 1rem;
    font-size: 2.5rem;
}

.sectionOne .liner {
    background-color: var(--linerColor);
    height: 0.4rem;
    width: 30%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    padding: 0;
}

.sectionOne h1 span {
    color: var(--linerColor);
}

.sectionOne p {
    font-family: var(--paragraphFont);
    font-size: 1.7rem;
    padding: 2rem 0 0.2rem 1.9rem;
    color: var(--backgroundColor);
}

.sectionOne P span {
    color: var(--linerColor);
    font-weight: 600;
}

.sectionTwo {
    width: 90%;
    margin: 3rem auto;
    padding: 1rem 0;
    height: 65rem;
    background-color: var(--backgroundColor);
    border-radius: 20px;
    
}

.sectionTwo div {
    width: 95%;
    margin: 0 auto;
    height: 65rem;
    background-color: white;
    border-radius: 20px;
    width: 90%;
}

.sectionTwo div h2{
    font-family: var(--headingsFont);
    color: var(--backgroundColor);
    padding: 10px 10px 4rem;
    text-align: center;
}

#offering {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
}



.offerings  span{
    display: block;
    font-family: var(--headingsFont);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--paragraphColor);
    width: 80%;
    margin: auto;
    text-align: center;
}

.offerings .one {
    color: var(--linerColor);
}

.offerings .img {
    width: 100px;
    display: block;
    margin: 0px auto 8px;
}

.sectionThree {
    font-family: var(--headingsFont);
    color: var(--backgroundColor);
}

.sectionThree h2 {
    font-size: 1.9rem;
    margin-left: 1rem;
}

.sectionThree .liner {
    background-color: var(--paragraphColor);
    height: 0.4rem;
    width: 30%;
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    padding: 0;
}

.sectionThree p {
    font-family: var(--paragraphFont);
    padding: 15px 1.2rem 10px;
    font-size: 1.5rem;
}

.sectionThree p span {
    color: var(--paragraphColor);
    font-weight: 600;
}

.sectionThree .link {
    margin-top: 2rem;
}

.sectionThree p a {
    background-color: var(--backgroundColor);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.sectionFour {
    background-color: var(--backgroundColor);
    color: white;
    padding: 2rem 0;
    margin-top: 4rem;
}

.sectionFour h2 {
    font-family: var(--headingsFont);
    font-size: 1.9rem;
    text-align: center; 
    padding: 0.5rem;
}

.sectionFour p {
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

.sectionFour .link {
    font-weight: 700;
    background-color: white;
    width: 15rem;
    margin: 1rem auto 0;
    border-radius: 15px;
}

.sectionFour .link a {
    color: var(--backgroundColor);
    width: fit-content;
}

.sectionFive {
    padding: 6rem 0;
}
.sectionFive h2{
    font-family: var(--headingsFont);
    font-size: 1.9rem;
    color: var(--linerColor);
    padding: 10px 20px 4px;
}

.sectionFive .liner {
    width: 30%;
    background-color: var(--backgroundColor);
    height: 0.4rem;
    padding: 0;
    margin-left: 22px;
    margin-bottom: 1rem;
}

.sectionFive p {
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
    padding: 15px 20px;
}

.sectionFive p span {
    color: var(--linerColor);
    font-weight: 700;
}

.sectionSix {
    border: 0.7rem solid var(--backgroundColor);
    font-family: var(--headingsFont);
    padding: 2rem 0;
}

.sectionSix p {
    font-size: 1.5rem;
    padding: 15px 20px;
}

.sectionSix p span {
    color: var(--paragraphColor);
    font-weight: 700;
}

.sectionSix .button {
    background-color: var(--backgroundColor);
    color: white;
    width: fit-content;
    margin: 0 auto 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.sectionSix .button a {
    color: white;
    z-index: 0;
}


#whatsApp {
    padding: 0 10px;
}


footer {
    width: 100%;
    background-color: var(--backgroundColor);
    margin-top: 15rem;
}

footer nav  {
    display: block;
    padding: 2rem 0;
    z-index: 1;
}

footer nav a {
    font-family: var(--headingsFont);
    font-size: 1.5rem;
    display: block;
    color: white;
    width: 70%;
    padding:  20px 50px 20px;

}


footer p {
    font-size: 1.3rem;
    text-align: center;
    color: rgba(245, 245, 245, 0.479)
}