@media screen and (min-width: 50rem)
{
    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    h1 {
        display: inline;
        padding: 0 ;
    }

    nav {
        display: inline;
        display: flex;
        max-width: 500px;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: rgba(53, 8, 95, 0.918);
    }

    nav > a {
        display: inline;
        color: white;
        font-size: larger;
        font-weight: 500;
        border: 0;
    }

    a:active, a:hover {
        color: aliceblue;
        background-color: rgb(18, 18, 207);
        font-size: 1.4em;
        padding: 0.5em;
        align-self: center;
    }
}